<!DOCTYPE html>
<html ng-app="retroApp">
  <head>
    <meta charset="utf-8">
    <title>Retrospective</title>
    <link href="https://fonts.googleapis.com/css?family=VT323|Press+Start+2P|Mr+Dafoe" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body class="container" ng-controller="RetroListController">

    <div class="background"></div>
    <div class="grid">
      <div class="grid-fade"></div>
      <div class="grid-lines"></div>
    </div>

    <div class="notification">{{notification}}</div>

    <h1 class="page-title">Retrospective</h1>

    <div class="columns card-columns">

      <!-- Column Bad -->
      <div class="column column-good">
        <h2 class="subtitle">Good</h2>
        <div class="columns">
          <div class="column column-list">
            <div ng-repeat="card in cardlist.good" id="good-card-{{$index}}" class="card card-wrap">
                <a class="delete is-danger" ng-click="delete($index, 'good')"></a>
                <textarea ng-model="card.content" ng-keyup="save($index, card.content, this); autoExpand($event);"></textarea>
            </div>
          </div>
        </div>
        <a class="add-card" ng-click="add('good')"><span>Add Card</span></a>
      </div><!--Column bad-->

      <!-- Column Bad -->
      <div class="column column-bad">
        <h2 class="subtitle">Bad</h2>
        <div class="columns">
          <div class="column column-list">
            <div ng-repeat="card in cardlist.bad" id="good-card-{{$index}}" class="card card-wrap">
                <a class="delete is-danger" ng-click="delete($index, 'bad')"></a>
                <textarea ng-model="card.content" ng-keyup="save($index, card.content, this); autoExpand($event);"></textarea>
            </div>
          </div>
        </div>
        <a class="add-card" ng-click="add('bad')"><span>Add Card</span></a>
      </div><!--Column bad-->

      <!-- Column Bad -->
      <div class="column column-learned">
        <h2 class="subtitle">Learned</h2>
        <div class="columns">
          <div class="column column-list">
            <div ng-repeat="card in cardlist.learned" id="good-card-{{$index}}" class="card card-wrap">
                <a class="delete is-danger" ng-click="delete($index, 'learned')"></a>
                <textarea ng-model="card.content" ng-keyup="save($index, card.content, this); autoExpand($event);"></textarea>
            </div>
          </div>
        </div>
        <a class="add-card" ng-click="add('learned')"><span>Add Card</span></a>
      </div><!--Column bad-->

    </div>

    <div class="columns">
      <div class="column">
        <div class="is-fluid has-text-centered">
          <h3>Make Scott Suck Less, Again.</h3>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
    <script src="scripts/retro-app.js" charset="utf-8"></script>
    <script src="scripts/vendors/socket.min.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  </body>
</html>
