<!DOCTYPE html>
<html ng-app="retroApp">
  <head>
    <meta charset="utf-8">
    <title>Hoof Hearted Retro</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body class="container" ng-controller="RetroListController">

    <div class="notification">{{notification}}</div>

    <div class="columns">
      <div class="column">
        <h1 class="title page-title">Hoof Hearted Retro</h1>
      </div>
    </div>

    <div class="columns card-columns">

      <!-- Good Column -->
      <div class="column column-good">
        <h2 class="subtitle">Good</h2>
        <div class="columns">
          <div class="column column-list">
            <div ng-repeat="card in cardlist.good">
              <div id="good-card-{{$index}}" class="card">
                <a class="delete is-danger" ng-click="delete($index, 'good')"></a>
                <div class="card-content">
                  <div class="content">
                    <form><textarea class="card-content" ng-model="card.content" ng-change="save($index, card.content, this)"></textarea></form>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <a class="add-card button is-primary" ng-click="add('good')"><span class="icon" ><i class="fa fa-plus" aria-hidden="true"></i></span><span>Add Card</span></a>
      </div><!--Column Good-->

      <!-- Column Bad -->
      <div class="column column-bad">
        <h2 class="subtitle">Bad</h2>
        <div class="columns">
          <div class="column column-list">
            <div ng-repeat="card in cardlist.bad">
              <div id="good-card-{{$index}}" class="card">
                <a class="delete is-danger" ng-click="delete($index, 'bad')"></a>
                <div class="card-content">
                  <div class="content">
                    <form><textarea class="card-content" ng-model="card.content" ng-change="save($index, card.content, this)"></textarea></form>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <a class="add-card button is-primary" ng-click="add('bad')"><span class="icon" ><i class="fa fa-plus" aria-hidden="true"></i></span><span>Add Card</span></a>
      </div><!--Column bad-->

      <div class="column column-learned">
        <h2 class="subtitle">Learned</h2>
        <div class="columns">
          <div class="column column-list">
            <div ng-repeat="card in cardlist.learned">
              <div id="good-card-{{$index}}" class="card">
                <a class="delete is-danger" ng-click="delete($index, 'learned')"></a>
                <div class="card-content">
                  <div class="content">
                    <form><textarea class="card-content" ng-model="card.content" ng-change="save($index, card.content, this)"></textarea></form>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <a class="add-card button is-primary" ng-click="add('learned')"><span class="icon" ><i class="fa fa-plus" aria-hidden="true"></i></span><span>Add Card</span></a>
      </div><!--Column learned-->

    </div>

    <div class="columns">
      <div class="column">
        <div class="is-fluid has-text-centered">
          <h3>Make Scott Suck Less, Again.</h3>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
    <script src="scripts/retro-app.js" charset="utf-8"></script>
    <script src="scripts/vendors/socket.min.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  </body>
</html>
